/* content script */

.GGK3P1UOY.GGK3P1UDEB{
	border-top: 1px solid black!important;
	background-color: rgba(255,204,0,0.5)!important;
	font-family: "courier new"!important;
}

.GGK3P1UDEB  .GGK3P1UKY{
	border-bottom: 1px solid black!important;
}
