
body {
	padding: 0.25em;
	padding-bottom: 0;
	margin: 0;
	background-color: #eee;
}

#error {
	position:absolute;
	bottom: 0;
	left: 0;
	z-index: 100;
	
	background-color: #ffcc00;
	color: black;
	
	padding-left: 0.25em;
	padding-right: 0.25em;
	
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

#datalist.trash {
	background-color: pink;
}

.viewport {
	padding: 0.25em;
}

.controlbar {
	background-color: rgba(0,0,0,0.5);
	white-space: nowrap;
}

.filter {
	padding: 0.25em;
}
.filter .label {
	margin-right: 0.25em;
/*	color: #ddd;*/
	color: rgba(255,255,255,0.75);
	font-weight: bold;
}
.filter  .input {
	position: relative;
}
.filter  .input input {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0;
	padding: 1px;
	outline: none;
	border-width: 1px;
	border-color: black;
	border-style: solid;
}

.wdstlview {
	min-width: 7.5em;
	background-color:transparent;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: black;
}
.wdstlview .viewport {
	padding-left: 0;
}
.wdstlview .wdstview {
	margin-bottom: 1px;
	padding-left: 0.25em;
	padding-right: 0.25em;
	font-family: monospace;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	cursor: pointer;
}
.wdstlview .wdstview.selected {
	border-color: rgba(0,0,0,0.25);
}
.wdstlview .wdstview:hover {
	background-color: rgba(0,0,0,0.125);
}

.editor {
	background: pink;
	border-width: 1px;
	border-style: solid;
	border-color: #444;
}
.editor .controls {
	text-align: right;
	margin-bottom: 0;
}
.editor .fields {
	padding: 0.25em;
}
.editor .fields table{
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}
.editor .fields tr {
	width: 100%;
}
.editor .fields td {
	padding: 0;
	padding-top: 2px;
	padding-right: 0.25em;
}
.editor .fields .label {
	text-align: right;
	vertical-align: top;
}
.editor .fields .input {
	width: 100%;
	text-align: left;
}
.editor .fields input,
.editor .fields textarea {
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: left;
}
.editor .fields input {
	margin-right:0.125em;
}
.editor .fields textarea {
	resize: vertical;
	min-height: 5em;
}

/* dataspace element view */
.wdseview {
	background-color: transparent;
	
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
	
	padding: 0.25em;
}
.wdseview:hover {
	border-color: #888888;
}
.wdseview.selected {
	border-color: #0000ff;
}
.wdseview.live {
	/* just use the defaults for now */
}
.wdseview.dead {
	background-color: #ffcc00;
}
/*
.wdseview.tag {
	background-color: #eeffee;
}
.wdseview.system {
	background-color: #eeeeff;
}
*/
.wdseview  .head {
	background-color: rgba(0,0,0,0.0675);
	padding: 0.25em;
}
.wdseview  .head  .body {
	text-align: left;
}
.wdseview  .head  .title {
	font-weight: bold;
}
.wdseview  .head  .link  .item {
	display: inline-block;
	color:blue;
	padding-left: 2px;
	padding-right: 2px;
	cursor: pointer;
}
.wdseview  .head  .link .item:hover {
	background-color: rgba(0,0,0,0.125);
}
.wdseview  .head  .right {
	text-align: right;
	width: auto;
}
.wdseview  .head  .control {
	white-space: nowrap;
}
.wdseview  .head  .wmbox{
	width: 16px;
	height: 16px;
}
.wdseview  .head  .wmbutton {
	height: 100%;
}
.wdseview  .head  .wmenu {
	text-align: center;
	min-width: 5em;
	z-index: 100;
}
.wdseview  .head  .timestamp {
	font-size: 75%;
	padding-right:0.5em;
}
.wdseview  .data {
	min-height: 1em;
	max-height: 10em;
	padding: 0.25em;
	overflow: auto;
}
.wdseview  .data.json,
.wdseview  .data.code {
	font-family: monospace;
	white-space: pre;
}
.wdseview  .data.text {
	/* just use the default for now*/
}
.wdseview  .tags {
	background-color: rgba(0,0,0,0.0675);
	padding: 0.25em;
}
