
body {
	padding: 0;
	margin: 0;
	background-color: #eee;
}

#error {
	position:absolute;
	bottom: 0;
	right: 0;
	z-index: 100;
	
	background-color: #ffcc00;
	color: black;
	
	padding-left: 0.25em;
	padding-right: 0.25em;
	
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

#datalist.trash {
	background-color: pink;
}

.viewport {
	padding: 0.25em;
}

.controls {
	background-color: rgba(0,0,0,0.5);
	margin-bottom: 0.25em;
}

.wpage.controls {
	white-space: nowrap;
}

.filter {
	padding: 0.25em;
}
.filter .label {
	margin-right: 0.25em;
/*	color: #ddd;*/
	color: rgba(255,255,255,0.75);
	font-weight: bold;
}
.filter  .input {
	position: relative;
	margin-right: 0.25em;
}
.filter  .input input {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0;
	padding: 1px;
	outline: none;
	border-width: 1px;
	border-color: black;
	border-style: solid;
}

.taglist {
	min-width: 7em;
	background-color:transparent;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: black;
}
.taglist .tagitem {
	padding-left: 0.25em;
	padding-right: 0.25em;
	cursor: pointer;
}
.taglist .tagitem:hover {
	background-color: rgba(0,0,0,0.125);
}

.editor {
	background: pink;
	border-width: 1px;
	border-style: solid;
	border-color: #444;
}
.editor .controls {
	text-align: right;
	margin-bottom: 0;
}
.editor .fields {
	padding: 0.25em;
}
.editor .fields table{
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}
.editor .fields tr {
	width: 100%;
}
.editor .fields td {
	padding: 0;
	padding-top: 2px;
	padding-right: 0.25em;
}
.editor .fields .label {
	text-align: right;
	vertical-align: top;
}
.editor .fields .input {
	width: 100%;
	text-align: left;
}
.editor .fields input,
.editor .fields textarea {
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: left;
}
.editor .fields input {
	margin-right:0.125em;
}
.editor .fields textarea {
	resize: vertical;
	min-height: 5em;
}

.dataelement {
	background-color: transparent;
	
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
	
	padding: 0.25em;
}
.dataelement:hover {
	border-color: #888888;
}
.dataelement.dead {
	background-color: #ffcc00;
}
.dataelement  .head {
	background-color: rgba(0,0,0,0.0675);
	padding: 0.25em;
}
.dataelement  .head  .body {
	text-align: left;
}
.dataelement  .head  .title {
	font-weight: bold;
}
.dataelement  .head  .link  .item {
	display: inline-block;
	color:blue;
	padding-left: 2px;
	padding-right: 2px;
	cursor: pointer;
}
.dataelement  .head  .link .item:hover {
	background-color: rgba(0,0,0,0.125);
}
.dataelement  .head  .right {
	text-align: right;
}
.dataelement  .head  .control {
	white-space: nowrap;
}
.dataelement  .head  .wmbox{
	width: 10px;
	height: 10px;
	background-color: #ddd;
}
.dataelement  .head  .wmbutton {
	height: 100%;
}
.dataelement  .head  .wmenu {
	text-align: center;
	min-width: 5em;
	z-index: 100;
}
.dataelement  .head  .timestamp {
	font-size: 75%;
	padding-right:0.5em;
}
.dataelement  .data {
	min-height: 1em;
	max-height: 10em;
	padding: 0.25em;
	white-space: pre;
	overflow: auto;
}
.dataelement  .tags {
	background-color: rgba(0,0,0,0.0675);
	padding: 0.25em;
}
