
body {
	padding: 0.25em;
	padding-bottom: 0;
	margin: 0;
	background-color: hsl(0,0%,95%);
	font-size: 16px;
}

#error {
	position:absolute;
	bottom: 0;
	left: 0;
	z-index: 100;
	
	background-color: #ffcc00;
	color: black;
	
	padding-left: 0.25em;
	padding-right: 0.25em;
	
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

#datalist.trash {
	background-color: pink;
}

.controlbar {
	background-color: rgba(0,0,0,0.5);
	white-space: nowrap;
}

.filter {
	padding: 0.25em;
}
.filter .label {
	margin-right: 0.25em;
/*	color: #ddd;*/
	color: rgba(255,255,255,0.75);
	font-weight: bold;
}
.filter  .input {
	position: relative;
}
.filter  .input input {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0;
	padding: 1px;
	outline: none;
	border-width: 1px;
	border-color: black;
	border-style: solid;
}

.wdstlview {
	margin: 4px;
	margin-left: 0px;
	min-width: 7.5em;
	background-color:transparent;
}
.wdstlview .viewport {
	padding-left: 0;
}
.wdstlview .wdstview {
	margin-bottom: 1px;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	padding-left: 0.25em;
	padding-right: 0.25em;
/*	font-family: monospace;
	font-size: 0.875em;*/
	cursor: pointer;
}
.wdstlview .wdstview.selected {
	border-color: rgba(0,0,0,0.25);
}
.wdstlview .wdstview.rejected {
	text-decoration: line-through;
}
.wdstlview .wdstview:hover {
	background-color: rgba(0,0,0,0.125);
}

.editor {
	background: pink;
	border-width: 1px;
	border-style: solid;
	border-color: #444;
}
.editor .controls {
	text-align: right;
	margin-bottom: 0;
}
.editor .fields {
	padding: 0.25em;
}
.editor .fields table{
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}
.editor .fields tr {
	width: 100%;
}
.editor .fields td {
	padding: 0;
	padding-top: 2px;
	padding-right: 0.25em;
}
.editor .fields .label {
	text-align: right;
	vertical-align: top;
}
.editor .fields .input {
	width: 100%;
	text-align: left;
}
.editor .fields input,
.editor .fields textarea {
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: left;
}
.editor .fields input {
	margin-right:0.125em;
}
.editor .fields textarea {
	resize: vertical;
	min-height: 5em;
}

/* dataspace view */
.wdsview {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: black;
}

/* dataspace element view */
.wdseview {
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	border-color: rgba(0,0,0,0.25);
	
	padding: 0.25em;
	margin: 0.25em;
}
.wdseview.live.system {
/*	background-color: hsl(48,100%,75%);*/
	background-color: hsl(60,100%,90%); /* faint yellow */
}
.wdseview.live.system.tag {
	background-color: hsl(120,100%,90%); /* faint green */
}
.wdseview.live.user {
	background-color: hsl(0,0%,95%); /* very light grey */
	border-color: transparent;
}
.wdseview.live.user.tag {
	background-color: hsl(240,100%,90%); /* faint blue */
	border-color: rgba(0,0,0,0.25);
}
.wdseview.tag  .data{
	max-height: 10em;
}
.wdseview.dead {
	background-color: hsl(0,100%,90%); /* faint red */
}
.wdseview.live:hover,
.wdseview.dead:hover {
	border-color: black!important;
}

.wdseview  .banner {
	background-color: rgba(0,0,0,0.0675);
	padding: 0.25em;
	text-align: left;
}
.wdseview   .title {
	font-weight: bold;
}
.wdseview  .controls {
	text-align: right;
	white-space: nowrap;
	width: auto;
}
.wdseview  .controls  .wmbox {
	width: 16px;
	height: 16px;
	background-image: url(/images/cog-16.png);
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
}
.wdseview  .controls  .wmbox:hover {
	border-color: rgba(0,0,0,0.25);
	background-color: rgba(0,0,0,0.25);
}
.wdseview  .controls  .wmbutton {
	height: 100%;
}
.wdseview  .controls  .wmenu {
	background-color: white;
	text-align: center;
	min-width: 4em;
	z-index: 100;
	border-color: black!important;
}
.wdseview  .controls  .timestamp {
	font-size: 75%;
	font-style: italic;
	padding-right:0.5em;
}
.wdseview  .links {
	margin-top: 0.25em;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgba(0,0,0,0.25);
	padding-top: 0.25em;
}
.wdseview  .link {
	display: block;
	color:blue;
	cursor: pointer;
}
.wdseview  .link:hover {
	background-color: rgba(0,0,0,0.125);
}
.wdseview  .data {
/*	margin-bottom: 2px;
	margin-top: 2px;
	padding: 0.25em;
*/
	margin-top: 0.25em;
	padding-left: 0.25em;
	padding-right: 0.25em;
/*	min-height: 1em;*/
/*	max-height: 10em;*/
	overflow: auto;
}
.wdseview  .data.json,
.wdseview  .data.code {
	font-family: monospace;
	white-space: pre;
}
.wdseview  .data.text {
	/* just use the default for now*/
}
.wdseview  .taglist {
/*	background-color: rgba(0,0,0,0.0675);*/
	background-color: transparent;
	margin-top: 0.25em;
	padding: 0.25em;
}
[data-widgetid='datalist'].hidetags  .wdseview  .taglist{
	display: none;
}

.wdseview .banner,
.wdseview .taglist,
.wdseview .wmenu {
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	border-color: rgba(0,0,0,0.125);
}
.wdseview.selected  .banner {
	border-color: blue;
}
